<h2>The Squawker Server</h2>
Hi {{name}}, enter the API Key of the Squawk you want to send
<form method="post" action="/">
  <input type="test" name="{{clientToken}}"><br/>
  <input type="radio" name="groupCD" value="asser"> Asser<br/>
  <input type="radio" name="groupCD" value="cezanne" > Cezanne<br/>
  <input type="radio" name="groupCD" value="jessica" > Jessica<br/>
  <input type="radio" name="groupCD" value="lyla" > Lyla<br/>
  <input type="radio" name="groupCD" value="nikita" > Nikita<br/>
  <input type="radio" name="groupCD" value="random" checked> Random<br/>
  <input type="submit" value="Send Squawk">
</form>
